#GoalSelector
public net.minecraft.world.entity.ai.goal.GoalSelector f_25345_ # goals

#NearestAttackableGoal
public net.minecraft.world.entity.ai.goal.target.NearestAttackableTargetGoal f_26051_ # targetEntitySelector

#LivingEntity
public net.minecraft.world.entity.LivingEntity f_20887_ # jumpMovementFactor

#Explosion
public-f net.minecraft.world.level.Explosion f_46009_ # fire

public net.minecraft.client.gui.GuiGraphics m_280444_(Lnet/minecraft/resources/ResourceLocation;IIIIIFFFF)V # innerBlit